[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "areal"]
	path = areal
	url = https://github.com/chris-prener/areal
[submodule "biscale"]
	path = biscale
	url = https://github.com/chris-prener/biscale
[submodule "qualmap"]
	path = qualmap
	url = https://github.com/chris-prener/qualmap
[submodule "testDriveR"]
	path = testDriveR
	url = https://github.com/chris-prener/testdriver
